<div class='container' style='text-align: center;'>
  <div class='thumbnail' style='display: inline-block; width: 600px; margin: 20px; padding: 10px 20px 20px 20px;'>
    <h2>Create A Review</h2>
    <%= form_for @review do |f| %>
      <div class = 'form-group'>
        <div class="field">
          <%= f.label :name %><br>
          <%= f.text_field :name, class: 'form-group', autofocus: true, style: 'width: 300px; resize: none;'%>
        </div>
      </div>
      <div class = 'form-group'>
        <div class="field">
          <%= f.label :content %><br>
          <%= f.text_area :content, class: 'form-group', style: 'width: 100%; height: 300px;  resize: none;' %>
        </div>
      </div>
      <div class = 'form-group'>
        <div class="field">
          <%= f.label :rating%><br>
          <%= f.number_field :rating, class: 'form-group', min: 0, max: 10, style: 'width: 40px;'%>
        </div>
      </div>
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <%= f.hidden_field :product_id, :value => @product_id %>
      <div class="actions">
        <%= f.submit "Review", class: 'btn btn-success' %>
      </div>
    <%end%>
  </div>
</div>
